

ex00/node_modules
ex00/.vscode/extensions.json
ex00/.vscode/settings.json
ex00/.expo

ex01/node_modules
ex01/.vscode/extensions.json
ex01/.vscode/settings.json
ex01/.expo

ex02/node_modules
ex02/.vscode/extensions.json
ex02/.vscode/settings.json
ex02/.expo

calculator_app/node_modules
calculator_app/.vscode/extensions.json
calculator_app/.vscode/settings.json
calculator_app/.expo