

ex00/node_modules
ex00/.vscode/extensions.json
ex00/.vscode/settings.json
ex00/.expo

ex01/node_modules
ex01/.vscode/extensions.json
ex01/.vscode/settings.json
ex01/.expo

ex02/node_modules
ex02/.vscode/extensions.json
ex02/.vscode/settings.json
ex02/.expo

ex03/node_modules
ex03/.vscode/extensions.json
ex03/.vscode/settings.json
ex03/.expo